---
import { sanityClient } from "sanity:client";
import Layout from "../layouts/Layout.astro";

type headerSectionDataType = {
  headline: string;
  subHeadline: string;
  headerBgImage: {
    _type: "image";
    asset: {
      url: string;
    };
  };
};

type benefitType = {
  title: string;
  description: string;
  icon?: {
    _type: "image";
    asset: {
      url: string;
    };
  };
};

type benefitSectionDataType = {
  title: string;
  benefits: benefitType[];
};

type aboutUsSectionType = {
  title: string;
  historyTitle: string;
  history: string;
  image: {
    _type: "image";
    asset: {
      url: string;
    };
  };
};

type statisticsSectionType = {
  title: string;
  statistics: {
    title: string;
    statisticValue: string;
  }[];
};

type ctaType = {
  title: string;
  image: {
    _type: "image";
    asset: {
      url: string;
    };
  };
};

const headerSectionData: headerSectionDataType = await sanityClient.fetch(`
  *[_type == "headerSection"][0] {
    headline,
    subHeadline,
    headerBgImage {
      asset->{url}
    }
  }
`);

const benefitSectionData: benefitSectionDataType = await sanityClient.fetch(`
   *[_type == "benefitsSection"][0] {
      title,
      benefits[] {
        title,
        description,
        icon {
          asset->{url}
        }
      }
    }
`);

const aboutUsSectionData: aboutUsSectionType = await sanityClient.fetch(`
   *[_type == "aboutUsSection"][0] {
      title,
      historyTitle,
      history,
      image {
        asset->{url}
      }
    }
`);

const statisticsSection: statisticsSectionType = await sanityClient.fetch(`
   *[_type == "statisticsSection"][0] {
      title,
      statistics[] {
        title,
        statisticValue
      }
    }
`);

const ctaData: ctaType = await sanityClient.fetch(`
   *[_type == "ctaSection"][0] {
      title,
      image {
        asset->{url}
      }
    }
`);
---

<Layout title="Inicio">
  <main>
    <!-- Hero -->
    <section id="start">
      <div
        class=`relative overflow-hidden bg-cover bg-no-repeat bg-center`
        style=`box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6); background-image: url(${headerSectionData.headerBgImage?.asset.url || "https://assets-global.website-files.com/6145886b32367adf3d9eb513/62bca4050bfdf27c4bd521be_staten%20island%20dentist.jpeg"})`
      >
        <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 py-24">
          <!-- Announcement Banner -->
          <!-- <div class="flex justify-center">
						<a
							class="inline-flex items-center gap-x-2 bg-white border border-gray-200 text-sm text-gray-800 p-1 ps-3 rounded-full transition hover:border-gray-300 dark:bg-gray-800 dark:border-gray-700 dark:hover:border-gray-600 dark:text-gray-200 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
							href="#"
						>
							PRO release - Join to waitlist
							<span
								class="py-1.5 px-2.5 inline-flex justify-center items-center gap-x-2 rounded-full bg-gray-200 font-semibold text-sm text-gray-600 dark:bg-gray-700 dark:text-gray-400"
							>
								<svg
									class="flex-shrink-0 w-4 h-4"
									xmlns="http://www.w3.org/2000/svg"
									width="24"
									height="24"
									viewBox="0 0 24 24"
									fill="none"
									stroke="currentColor"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"><path d="m9 18 6-6-6-6"></path></svg
								>
							</span>
						</a>
					</div> -->
          <!-- End Announcement Banner -->

          <!-- Title -->
          <div class="mt-5 max-w-2xl text-center mx-auto">
            <h1
              class="block font-bold text-white text-4xl md:text-5xl lg:text-6xl tracking-wider"
            >
              Somos
              <span class="bg-clip-text bg-green-700 text-transparent"
                >Coopuniodonto</span
              >
            </h1>
          </div>
          <!-- End Title -->

          <div class="mt-5 max-w-3xl text-center mx-auto">
            <p class="text-lg text-white tracking-wide">
              {
                headerSectionData?.subHeadline ||
                  "Únete a nosotros para impulsar tu práctica y alcanzar nuevos niveles de éxito profesional. ¡Bienvenido a una comunidad dedicada a la excelencia dental!"
              }
            </p>
          </div>

          <!-- Buttons -->
          <div class="mt-8 gap-3 flex justify-center">
            <a
              class="inline-flex justify-center items-center gap-x-3 text-center bg-green-700 hover:bg-green-800 border border-transparent text-white text-sm font-medium rounded-md focus:outline-none focus:ring-1 focus:ring-gray-600 py-3 px-4 dark:focus:ring-offset-gray-800"
              href="/afiliate/"
            >
              ¡Quiero afiliarme!
            </a>
            <a
              class="inline-flex justify-center items-center gap-x-3 text-center border border-white text-white hover:bg-green-700 hover:border-transparent text-sm font-medium rounded-md focus:outline-none focus:ring-1 focus:ring-gray-600 py-3 px-4 dark:focus:ring-offset-gray-800"
              href="#benefits"
            >
              Saber mas
              <svg
                class="flex-shrink-0 w-4 h-4"
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
              >
                <path
                  d="M5.27921 2L10.9257 7.64645C11.1209 7.84171 11.1209 8.15829 10.9257 8.35355L5.27921 14"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"></path>
              </svg>
            </a>
          </div>
          <!-- End Buttons -->
        </div>
      </div>
      <!-- End Hero -->
    </section>

    <section id="benefits" class="bg-slate-50 py-16 md:py-24">
      <!-- Benefits -->
      <!-- Icon Blocks -->
      <div class="max-w-[85rem] px-4 sm:px-6 lg:px-8 mx-auto">
        <h2
          class="text-center font-semibold text-3xl md:text-4xl lg:text-4xl tracking-wider"
        >
          {benefitSectionData?.title || "Nuestros Beneficios"}
        </h2>
        <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-4 pt-8 auto-rows-fr">
          {
            benefitSectionData && benefitSectionData.benefits ? (
              benefitSectionData.benefits.map((benefit) => (
                <div class="shadow-lg bg-green-600 rounded-lg p-5 dark:bg-slate-900">
                  <div class="pb-5">
                    <div class="inline-flex justify-center items-center w-[62px] h-[62px] rounded-full border-4 border-green-800 bg-green-700 dark:green-blue-900 dark:bg-green-800">
                      <img
                        src={benefit.icon?.asset.url || ""}
                        alt={benefit.title || "Benefit Icon"}
                      />
                    </div>
                  </div>
                  <div class="flex items-center grow gap-x-4 mb-3">
                    <div class="flex-shrink-0">
                      <h3 class="block text-lg font-semibold text-white dark:text-white">
                        {benefit.title}
                      </h3>
                    </div>
                  </div>
                  <p class="text-white dark:text-gray-400">
                    {benefit.description}
                  </p>
                </div>
              ))
            ) : (
              <div class="w-full h-full bg-white shadow-lg rounded-lg p-5 dark:bg-slate-900">
                <div class="flex items-center gap-x-4 mb-3">
                  <div class="inline-flex justify-center items-center w-[62px] h-[62px] rounded-full border-4 border-green-50 bg-green-100 dark:green-blue-900 dark:bg-green-800" />
                  <div class="flex-shrink-0">
                    <h3 class="block text-lg font-semibold text-gray-800 dark:text-white">
                      Build your portfolio
                    </h3>
                  </div>
                </div>
                <p class="text-gray-600 dark:text-gray-400">
                  The simplest way to keep your portfolio always up-to-date.
                </p>
              </div>
            )
          }
          <!-- End Card -->
        </div>
      </div>
      <!-- End Icon Blocks -->
      <!-- End Benefits -->
    </section>

    <!-- History -->
    <section id="history" class="bg-white py-16 md:py-24">
      <div class="max-w-[85rem] px-4 sm:px-6 lg:px-8 mx-auto text-start">
        <h2
          class="text-center md:text-start font-semibold text-3xl md:text-4xl lg:text-4xl tracking-wider"
        >
          {aboutUsSectionData?.title || "Sobre Nosotros"}
        </h2>
        <div
          class="grid grid-cols-1 lg:grid-cols-2 flex flex-col md:flex-row md:gap-12 lg:gap-8 items-center pt-8"
        >
          <img
            src={aboutUsSectionData.image?.asset.url || ""}
            class="rounded-t-lg md:rounded-lg md:shadow-lg"
            alt=""
          />
          <div
            class="content flex flex-col gap-4 shadow-lg rounded-b-lg md:rounded-none p-8 md:p-0 md:shadow-none"
          >
            <h2 class="font-regular text-2xl md:text-3xl">
              {aboutUsSectionData?.historyTitle || "Nuestra Historia"}
              <p
                class="leading-relaxed tracking-wide text-lg text-justify text-gray-600"
              >
                {
                  aboutUsSectionData?.history ||
                    "Nuestra Historia Los primeros pasos de Coopuniodonto datan desde 1999 cuando el Dr. Domingo Santana en su estadía en Brasil conoce las cooperativas Uniodonto y Unimed Brasil. Al llegar al país, junto a la Doctora Rossy Suzaña inician los primeros pasos para introducir el movimiento cooperativista a los odontólogos, fundando así Coopuniodonto. "
                }
              </p>
            </h2>
          </div>
        </div>
      </div>
      <!-- End History -->
    </section>

    <section id="stats" class="py-16 md:py-24 bg-green-100">
      <!-- Features -->
      <div class="max-w-[85rem] px-4 sm:px-6 lg:px-8 mx-auto text-center">
        <h2
          class="text-center font-semibold text-3xl md:text-4xl lg:text-4xl tracking-wider"
        >
          {statisticsSection?.title || "Nuestras Estadísticas"}
        </h2>
        <!-- Grid -->
        <div
          class="grid gap-6 grid-cols-1 md:grid-cols-2 sm:gap-12 lg:grid-cols-3 lg:gap-8 pt-8"
        >
          <!-- Stats -->
          {
            statisticsSection?.statistics.map((statistic) => (
              <div>
                <h4 class="text-lg sm:text-xl font-semibold text-gray-800 dark:text-gray-200">
                  {statistic.title}
                </h4>
                <p class="mt-2 sm:mt-3 text-4xl sm:text-6xl font-bold text-green-600">
                  {statistic.statisticValue}
                </p>
              </div>
            ))
          }
          <!-- End Stats -->
        </div>
        <!-- End Grid -->
      </div>
      <!-- End Features -->
    </section>

    <!-- CTA -->
    {
      ctaData && (
        <section id="cta" class="py-16 md:py-24">
          <div class="max-w-[85rem] px-4 sm:px-6 lg:px-8 mx-auto">
            <div class="grid grid-cols-1 md:grid-cols-2 shadow-lg">
              <div class="content text-center md:text-start flex flex-col justify-between bg-green-600 gap-8 p-8 rounded-lg md:rounded-none lg:rounded-l-lg">
                <p class="text-lg md:text-4xl text-white">{ctaData.title}</p>
                <a
                  class="p-4 sm:p-5 text-center md:text-start inline-flex items-center justify-center md:justify-start gap-x-2 text-sm font-semibold rounded-lg border border-white bg-transparent text-white hover:bg-white hover:text-black disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
                  href="/afiliate/"
                >
                  Afiliate
                </a>
              </div>
              <img
                src={ctaData.image?.asset.url || ""}
                class="hidden md:block rounded-r-lg object-cover"
                width="1080px"
                height="720px"
                alt=""
              />
            </div>
          </div>
        </section>
      )
    }
    <!-- End of CTA -->
  </main>
</Layout>
